# To go in /etc/udev/rules.d/
# Makes Espruino's serial port accessible to non-SU users
ATTRS{idProduct}=="5740", ATTRS{idVendor}=="0483", MODE="664", GROUP="plugdev"

