# ESP32 - IDF 4.4.8 - Espruino ESP32 custom

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_COMPILER_OPTIMIZATION_RELEASE=y

CONFIG_PARTITION_TABLE_CUSTOM=y
#CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
#CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

CONFIG_APP_BUILD_TYPE_APP_2NDBOOT=y
CONFIG_BT_ENABLED=y
CONFIG_ETH_ENABLED=y
#CONFIG_ESP32_WIFI_DYNAMIC_RX_BUFFER_NUM=32
CONFIG_FMB_COMM_MODE_RTU_EN=y
CONFIG_SPIFFS_USE_MTIME=y

# WIFI 
#cd bCONFIG_ESP32_WIFI_STATIC_RX_BUFFER_NUM=5     # Was 10 → 5
#CONFIG_ESP32_WIFI_DYNAMIC_RX_BUFFER_NUM=16   # Was 32 → 16

#default is info
CONFIG_LOG_DEFAULT_LEVEL_ERROR=y

# -Os flag (Optimize for SIZE)
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
# -O2 flag (Optimize for PERFORMANCE)
#CONFIG_COMPILER_OPTIMIZATION_LEVEL_RELEASE=y

# Disable asserts for production:
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=y
# Enable asserts for testing

#CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_ENABLE=y
#CONFIG_COMPILER_OPTIMIZATION_ASSERTION_LEVEL=2