*~
*.tgz
*.d
*.o
*.elf
/*.hex
*.lst
*.srec
*.bin
*.pyc
/*.zip
gen/*
.vagrant/*
boards/*.html
boards/*.json
zipcontents
tmp
benchmark/*.txt
benchmark/*.result.json
/espruino
archives/*
diffs/*
.cproject
.project
.settings
MDN_URLS.txt
node_modules
/build/
esp_iot_sdk_v1.5.0
xtensa-lx106-elf
*.c#
/function_keywords.js
/functions.html
targetlibs/nrf5x/examples
/.vscode
