*~
*.pyc
/gen/*
/bin/*
/bin_*/*
/obj/*
/.vagrant/*
/boards/*.html
/boards/*.json
/boards/*_CUSTOM.py
/zipcontents
/tmp
/benchmark/*.txt
/benchmark/*.result.json
/espruino
/archives/*
/diffs/*
/.cproject
/.project
/.settings
/MDN_URLS.txt
node_modules
/build/
/esp_iot_sdk_v1.5.0
/esp_iot_sdk_v2.0.0.p1
/ESP8266_NONOS_SDK-2.2.1
/xtensa-lx106-elf
/app
/esp-idf
xtensa-esp32-elf
gcc-arm-none-eabi*
arm-gnu-toolchain*
*.c#
/function_keywords.js
/functions.html
/targetlibs/emscripten/emsdk
/targetlibs/nrf5x_11
/targetlibs/nrf5x_12/examples
/targetlibs/nrf5x_12/documentation/
/targetlibs/nrf5x_14
/targetlibs/nrf5x_15/components
/targetlibs/nrf5x_15/example_config
/targetlibs/nrf5x_15/examples
/targetlibs/nrf5x_15/external
/targetlibs/nrf5x_15/external_tools
/targetlibs/nrf5x_15/integration
/targetlibs/nrf5x_15/modules
/targetlibs/nrf5x_15/config
/targetlibs/nrf5x_15/license.txt
/targetlibs/nrf5x_15_3/components
/targetlibs/nrf5x_15_3/example_config
/targetlibs/nrf5x_15_3/examples
/targetlibs/nrf5x_15_3/external
/targetlibs/nrf5x_15_3/external_tools
/targetlibs/nrf5x_15_3/integration
/targetlibs/nrf5x_15_3/modules
/targetlibs/nrf5x_15_3/config
/targetlibs/nrf5x_15_3/documentation
/targetlibs/nrf5x_15_3/license.txt
/targetlibs/nrf5x_15_3/nRF5x_*
/targetlibs/nrf5x_15x
/targetlibs/nrf5x_mesh
/targetlibs/nrf5x_17/components
/targetlibs/nrf5x_17/examples
/targetlibs/nrf5x_17/external
/targetlibs/nrf5x_17/integration
/targetlibs/nrf5x_17/modules
/targetlibs/nrf5x_17/config
/targetlibs/nrf5x_17/documentation
/targetlibs/raspberrypi
/js
/.vscode
/CURRENT_BOARD.make
/topreadonly
/topstrings
/misc
*.user
*.jdebug
*.code-workspace
/espruino_embedded.*
