# sdkconfig.defaults.esp32c3
CONFIG_IDF_TARGET="esp32c3"
CONFIG_IDF_TARGET_ESP32C3=y
CONFIG_ESP_CONSOLE_SECONDARY_USB_SERIAL_JTAG=y
CONFIG_APP_RETRIEVE_LEN_ELF_SHA=16
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_BT_BLE_42_FEATURES_SUPPORTED=y
CONFIG_BT_CTRL_HW_CCA_VAL=20
CONFIG_TWAI_ERRATA_FIX_LISTEN_ONLY_DOM=n
CONFIG_ESP_TASK_WDT_INIT=n
CONFIG_ESP_IPC_TASK_STACK_SIZE=1536
CONFIG_ESP_WIFI_GMAC_SUPPORT=n
CONFIG_LOG_COLORS=y
CONFIG_MBEDTLS_DYNAMIC_BUFFER=y
# Disable all possible WDT config items
CONFIG_INT_WDT=n
CONFIG_ESP_TASK_WDT=n
